@use "./utilities/variables.scss" as *;
@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap,900;1');

body{
    font-family: $main_font;
    font-weight: 900;
    color: rgb(0, 0, 0);
    background-color: #dcdcdc;
    transition: background-color 2s ease, color 2s ease;
    margin: 0;
    overflow-x: hidden;

  &.dark-mode{
    background-color: rgb(48, 48, 48);
    color: #dcdcdc;
  }
}

// BACKGROUND ANIMATION
.bg {
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
//--------------------------------------

//TOGGLE BUTTON

// _mode-toggle.scss
.mode-toggle {
  position: relative;
  //margin: auto .5rem .5rem auto;
  padding: 0;
  width: 44px;
  height: 24px;
  min-width: 36px;
  min-height: 20px;
  background-color: rgb(54, 54, 54);
  border: 0;
  border-radius: 24px;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  appearance: none;
  transition: background-color .5s ease;

  .toggle {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid transparent;
      box-shadow: inset 0 0 0 2px #a5abba;
      overflow: hidden;
      transition: transform .5s ease;

      #dark-mode {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 50%;

          &:before {
              content: '';
              position: relative;
              width: 100%;
              height: 100%;
              left: 50%;
              float: left;
              background-color: #a5abba;
              transition: border-radius .5s ease, width .5s ease, height .5s ease, left .5s ease, transform .5s ease;
          }
      }
  }
}

body.dark-mode {
  .mode-toggle {
      background-color: lighten(rgb(248, 219, 0), 5%);

      .toggle {
          transform: translateX(19px);

          #dark-mode {
              &:before {
                  border-radius: 50%;
                  width: 150%;
                  height: 85%;
                  left: 40%;
                  transform: translate(-10%, -40%), rotate(-35deg);
              }
          }
      }
  }
}